<div id="simpleFilter" style="float:left;">
    <label for="filter">Filter by </label>
    <select id="filterColumn" onchange="document.getElementById('filter').value=''">
        #set($filterColumns=["Id", "Name", "Season","Magazine", "Article"])
        #foreach( $column in $filterColumns )
            <option value="$column"
                #if( $column == "Name")
                    selected="selected"
                #end
                >$column</option>
        #end
        </select>
        <input type="text" id="filter" value="">
        <button type="button" onclick="fullDataReload();">Reload</button>
    <div id="filterBreadcrumb"></div>
    <br>
</div>
