<div id="simpleFilter" style="float:left;">
    <label for="filter">Filter by </label>
    <select id="filterColumn" onchange="document.getElementById('filter').value=''">
        #set($filterColumns=["Business", "HandleType", "HandleTemplate","AnalyticMode", "AnalyticType", "AnalyticVersion", "AssetNames","AssetNamesAlias", "BusinessDate", "DataMode", "DomesticCurrency", "ForeignCurrencies", "HolidayCities", "Methodology", "ObjectSubType", "ObjectType", "Version","LastUpdatedBy","LastUpdatedTime"])
        #foreach( $column in $filterColumns )
            <option value="$column"
                #if( $column == "HandleTemplate")
                    selected="selected"
                #end
                >$column</option>
        #end
        </select>
        <input type="text" id="filter" value="">
        <button type="button" onclick="fullDataReload();">Reload</button>
    <div id="filterBreadcrumb"></div>
    <br>
</div>
